
<head>
    <h4 style="text-align: right" ;>Ubicación           Activo</h4>

    @model Registro_y_control_de_extintores.Controllers.MenuPrincipalController;

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/site.css">
</head>

<!------ Include the above in your HEAD tag ---------->
<div style="float:left;">
    <table id="MenuLateral" style="width:30%; height:100%">
        <tr>
            <!--AdministrarUsuarios button -->
            <input type="submit" value="Administrar Usuario" onclick="location.href='@Url.Action("","MenuUsuario")'" class="btn btn-primary btn-lg btn-block" />
        </tr>
        <tr>
            <!--AdministrarExintores button -->
            <input type="submit" value="Administrar Extintores" onclick="location.href='@Url.Action("","Extintor")'"  class="btn btn-primary btn-lg btn-block" />
        </tr>
        <tr>
            <!--AdministrarCentrosDeTrabajo button -->
            <input type="submit" value="Administrar Centros de Trabajo" onclick="location.href='@Url.Action("","Centro")'"  class="btn btn-primary btn-lg btn-block" />
        </tr>
        <tr>
            <!--DescargarDatos button -->
            <input type="button" value="DescargarDatos" onclick="location.href='@Url.Action("DescargarDatos", "MenuPrincipal")'" class="btn btn-primary btn-lg btn-block" /> 
        </tr>
    </table>
</div>

<div style="border: 6px solid blue; padding: 3px; float:left; width:70%; height:30%; overflow:scroll">

    <div id="formContent">

        <!--Code to create the buttons submenu-->
        <form asp-controller="MenuPrincipalController">

            <fieldset>
                <div>
                    <!--Table for adding the fire extinguisher values -->
                    <table id="tabla_extintores" style="width:max-content; overflow:visible;" border="1" cellspacing="3" cellpadding="3" colspan="3">
                        <!--first row, headers-->
                        <tr>
                            <th></th> <!--Edit button column space-->
                            <th></th> <!--Imagen button column space-->
                            <th>Centro de Trabajo</th>
                            <th>Activo</th>
                            <th>Ubicación Geografica</th>
                            <th>Ubicación</th>
                            <th>Agente Extintor</th>
                            <th>Tipo</th>
                            <th>Capacidad</th>
                            <th>Última Prueba Hidroestática</th>
                            <th>Próxima Prueba Hidroestática</th>
                            <th>Próximo Mantenimiento</th>
                            <th>Presión</th>
                            <th>Rotulación</th>
                            <th>Acceso a Extintor</th>
                            <th>Condicion Extintor</th>
                            <th>Seguro y Marchamo</th>
                            <th>Collarin</th>
                            <th>Condicion Manguera</th>
                            <th>Condicion Boquilla</th>
                        </tr>

                        <!--iteration to fill the table with the data-->
                        @foreach (var item in ViewBag.ListaExtintores)
                        {
                            <tr>
                                <td><input type="submit" value="Editar" formaction="@Url.Action("accion","controller")" formmethod="get" class="btn btn-primary btn-lg btn-block" /></td>
                                <td><input type="submit" value="Imagen" formaction="@Url.Action("accion","controller")" formmethod="get" class="btn btn-primary btn-lg btn-block" /></td>
                                <td value="@item.Id_centro">@ViewBag.ListaCentrosExtintores[0]</td>

                        <!--Separar los fors aquí-->
                                <td>@item.Activo </td>
                                <td>@item.Ubicacion_geografica</td>
                                <td>@item.Ubicacion</td>
                                <td>@item.Agente_extintor</td>
                                <td>@item.Tipo</td>
                                <td>@item.Capacidad</td>
                                <td>@item.Ultima_prueba_hidrostatica</td>
                                <td>@item.Proxima_prueba_hidrostatica</td>
                                <td>@item.Proximo_mantenimiento</td>

                                @if (item.Presion == 0)
                                {
                                    <td value=0>Correcto</td>
                                }
                                else
                                {
                                    <td value=1>Incorrecto</td>
                                }

                                @if (@item.Rotulacion == 0)
                                {
                                    <td value=0>Correcto</td>
                                }
                                else
                                {
                                    <td value=1>Incorrecto</td>
                                }

                                @if (@item.Acceso_a_extintor == 0)
                                {
                                    <td value=0>Accesible</td>
                                }
                                else
                                {
                                    <td value=1>No Accesible</td>
                                }

                                @if (@item.Condicion_extintor == 0)
                                {
                                    <td value=0>Buen estado</td>
                                }
                                else
                                {
                                    <td value=1>Mal estado</td>
                                }

                                @if (@item.Seguro_y_marchamo == 0)
                                {
                                    <td value=0>Buen estado</td>
                                }
                                else
                                {
                                    <td value=1>Mal estado</td>
                                }

                                @if (@item.Collarin == 0)
                                {
                                    <td value=0>Buen estado</td>
                                }
                                else
                                {
                                    <td value=1>Mal estado</td>
                                }

                                @if (@item.Condicion_manguera == 0)
                                {
                                    <td value=0>Buen estado</td>
                                }
                                else
                                {
                                    <td value=1>Mal estado</td>
                                }

                                @if (@item.Condicion_boquilla == 0)
                                {
                                    <td value=0>Buen estado</td>
                                }
                                else
                                {
                                    <td value=1>Mal estado</td>
                                }


                            </tr>
                        }

                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>
